@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(27,36,74,1);
    font-family: "Montserrat", sans-serif;
}

section {
    display: flex;
}

section > div:nth-child(2) {
    padding-left: 150px;
}

#homeScore, #awayScore {
    font-size: 5rem;
    background-color: black;
    color: #35FF69;
    font-family: "Doto", "Montserrat", sans-serif;
    border-radius: 10px;
    height: auto;
    width: auto;
    border: none;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}

#awayScore {
    color: rgba(249,79,109,1);
}

#awayScore:hover, #homeScore:hover {
    cursor: default;
}

h2 {
    font-size: 2.7rem;
    padding-bottom: 1.2rem;
    color: white;
}

.hometag:hover {
    color: #35FF69;
    transition: 0.7s;
}

.guest > div > button:hover {
    background-color: #D81E5B;
    transition: 0.5s;
}

button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 5px;
    border-color: rgba(154, 171, 216, 1);
    color: rgba(154, 171, 216, 1);
    border-style: solid;
    margin-top: 20px;
    font-family: "Doto", "Montserrat", sans-serif;
    font-size: 1rem;
}

button:hover {
    background-color: #35FF69;
    transition: 0.5s;
    cursor: pointer;
}

button:active, .reset:active {
    transform: scale(0.8);
}

.reset:hover {
    cursor: default;
}

.reset {
    width: 60px;
}

.home, .guest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 200px) and (max-width: 750px) {
    section {
        display: flex;
        flex-direction: column;
    }
    section > div:nth-child(2) {
        padding-left: 0;
        padding-top: 40px;
    }
}
